/* @import url('https://fonts.googleapis.com/css?family=Oranienbaum');
@import url('https://fonts.googleapis.com/css?family=Tulpen+One');
@import url('https://fonts.googleapis.com/css?family=Fanwood+Text:400,400i'); */
/* font-family: 'Oranienbaum', serif; */
/* font-family: 'Tulpen One', cursive; */
/* font-family: 'Fanwood Text', serif;  */

* {
    margin: 0;
    padding: 0;
}
body{
    /* background:rgb(23, 0, 32); */
}


.wrapper{
    width: 100%;
    height: 100vh;
    background-image: url(../img/shayon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#header h2, #header p{
    color: white !important;
}
#header h2{
    font-size: 2.5rem;
}
.u-tube{
    text-align: center;
    align-items: center;
}
#videoSource{
    /* display: none; */
}
#contact{
    margin: 8% 0;
}
#review .content{
    width: 94%;
    margin-left: 3%;
}


/* COLOR PALLATE */
/* body {
    color: rgb(31, 14, 21);
    color: rgb(22, 0, 37);
    color: rgb(10, 173, 18);

} */





/* RESPONSIVENESS FOR DESKTOP*/
@media(min-width:710px){
    #menu-item{
        padding: 20px 0;
    }
    #header{
        margin-top: 200px;
    }
}

/* RESPONSIVENESS FOR MOBILE */
@media(max-width:710px){
    #videoSource{
        width: 300px;
        height: 150px;
    }
    .wrapper{
        height: 140vh;    
    }
    #contact{
        margin: 5% 0;
    }


}