/* @import url('https://fonts.googleapis.com/css?family=Oranienbaum');
@import url('https://fonts.googleapis.com/css?family=Tulpen+One');
@import url('https://fonts.googleapis.com/css?family=Fanwood+Text:400,400i'); */
/* font-family: 'Oranienbaum', serif; */
/* font-family: 'Tulpen One', cursive; */
/* font-family: 'Fanwood Text', serif;  */

@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
/* font-family: 'Baskervville', serif; */


@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
/* font-family: 'Crimson Text', serif; */

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Baskervville', serif !important; */
}
body{
    /* background:rgb(23, 0, 32); */
    font-family: 'Baskervville', serif !important;
    /* font-family: 'Crimson Text', serif; */
}


.wrapper{
    width: 100%;
    height: 100vh;
    background-image: url(../img/shayon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}







/* NAVIGATION MENU */
.navitation{
    width: 100%;
    /* height: 100px; */
    background: rgb(255, 255, 255);
    overflow: hidden;
    font-size: 1rem;
}
#icon{
    color: rgb(0, 0, 0);
    display: none;
}
.navitation ul{ 
    text-align: center;
    text-transform: uppercase;
} 

.navitation li{
    list-style: none;
    display: inline-block;
    text-align: center;
    /* margin: 35px 5px; */
    padding: 35px 10px;
}
.navitation li:hover{
    cursor: pointer;
    background: rgb(224, 224, 224);
}
.navitation a{
    /* margin-top: 50px; */
    text-decoration: none;
    color: black;
}

@media (max-width:768px){
    #icon{
        display: block;
        margin: 25px 0 20px 25px;
    }
    #ulid{
        display: none;
    }
}
/* NAVIGATION MENU END */









#header h2, #header p{
    color: white !important;
}
#header h2{
    font-size: 2.5rem;
}
.u-tube{
    text-align: center;
    align-items: center;
}

#contact{
    margin: 8% 0;
}
#review .content{
    width: 94%;
    margin-left: 3%;
}


/* COLOR PALLATE */
/* body {
    color: rgb(31, 14, 21);
    color: rgb(22, 0, 37);
    color: rgb(10, 173, 18);

} */








/* // STICKY ANIMATED NAVBAR BEGAIN */
/* .sticky {
    position: sticky;
    top: 0;
width: 100%;
    padding: 1em 0;
    text-align: center;
   transition: .32s;
  }
  
  .fixed {
    font-size: 24px;
    position: fixed;
    height: 20px;
    transition: .25s;
  } */
  
/* // STICKY ANIMATED NAVBAR ENDS */













/* RESPONSIVENESS FOR DESKTOP*/
@media(min-width:710px){
    #menu-item{
        padding: 20px 0;
    }
    #header{
        margin-top: 200px;
    }
}

/* RESPONSIVENESS FOR MOBILE */
@media(max-width:710px){
    #videoSource{
        width: 300px;
        height: 150px;
    }
    .wrapper{
        height: 140vh;    
    }
    #contact{
        margin: 5% 0;
    }


}