/* @import url('https://fonts.googleapis.com/css?family=Oranienbaum');
@import url('https://fonts.googleapis.com/css?family=Tulpen+One');
@import url('https://fonts.googleapis.com/css?family=Fanwood+Text:400,400i'); */
/* font-family: 'Oranienbaum', serif; */
/* font-family: 'Tulpen One', cursive; */
/* font-family: 'Fanwood Text', serif;  */

* {
    margin: 0;
    padding: 0;
}



/* COLOR PALLATE */
/* body {
    color: rgb(31, 14, 21);
    color: rgb(22, 0, 37);
    color: rgb(10, 173, 18);

} */





/* RESPONSIVENESS FOR DESKTOP*/
@media(min-width:710px){

}

/* RESPONSIVENESS FOR MOBILE */
@media(max-width:710px){

}